* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#buses-list{

      width:80%;
      margin:auto;
      border:1px solid red;
}

#add-bus-form{
    width:20%;
    /* margin:auto; */
    margin-top:0;
}

#add-bus-form>form{
    display:flex;
    flex-direction:column;
    gap:10px;
}
#main{
    display:flex;
    justify-content: space-around;
    /* margin-top:0; */
    gap:20px;
}
#main>div{
    border:1px solid red;
    margin:auto;
}

.busElement{
    display:flex;
}

img>ul>li{
    display:flex;
}









