
  /* Footer */

  #footer {
    position: relative;
    top: 100px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
#footer >div{
    padding: 2rem 10rem;
    text-transform: capitalize;
}
#footer >div .data1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    border-bottom: 1px solid #E5E5E5;
}
#footer >div .data1 div > p{
    font-size: 1.5rem;
    font-weight: bold;
}
#footer >div .data1 div ul li {
    line-height: 2.5;
}
#footer >div .data1 div ul li:hover a {
    text-decoration: underline;
}
#footer >div .data2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    border-bottom: 1px solid #E5E5E5;
}
#footer >div .data2 div > p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
}
#footer >div .data2 div > p img {
    width: 140px;
}
#footer >div .data2 div ul li {
    line-height: 2.5;
}
#footer >div .data2 div ul li:hover a {
    text-decoration: underline;
}

#footer >div .data3{
    padding: 25px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#footer >div .data3  i{
    font-size: 1.2rem;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
}




@media screen and (max-width:1300px) {
    #partner .details div {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 3px;
    }
    #footer >div .data2{
        display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    }
    
    #footer >div .data3{
        display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    }
    #footer >div .data1{
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    }
}
@media screen and (max-width:930px) {
    #search .content form {
        width: 40vw;
    }
    .faqs-container{
        grid-template-columns: repeat(1,1fr);
    }
    nav .details {
        width: 25%;
    }
    #search .content form .rotate-btn {
        top: 70px;
        transform: rotate(180deg);
    }
    #search .content form  input{
        width: 100%;
        margin: 2px;
    }
    #partner >div{
        padding: 0 5rem;
    }
    #partner .details div {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0px;
    }
    #partner .parlogo .logos div:nth-child(8),
    #partner .parlogo .logos div:nth-child(7){
        display: none;
    }
    #FAQs >div{
        padding: 2rem 5rem;
    }
    #footer >div{
        padding: 2rem 5rem;
        text-transform: capitalize;
    }
    #footer >div .data2{
        display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    }
    
    #footer >div .data3{
        display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    }
    #footer >div .data1{
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    }
}
@media screen and (max-width:590px) {
    #search .content form {
        width: 50vw;
    }
    nav .details {
        width: 45%;
    }
    #partner >div{
        padding: 0 0rem;
    }
    #partner .details div {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
    }
    #partner .parlogo .logos div:nth-child(8),
    #partner .parlogo .logos div:nth-child(7){
        display: none;
    }
    #FAQs >div{
        padding: 1rem 0rem;
    }
    #footer >div{
        padding: 1rem 0rem;
        text-transform: capitalize;
    }
    #footer >div .data2{
        display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    }
    
    #footer >div .data3{
        display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    }
    #footer >div .data1{
    grid-template-columns: repeat(2,1fr);
    gap: 1px;
    }
}